<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <bean id="exchangeCommand" class="ru.dpolulyakh.www.command.exchange.ExchangeCommand"/>
    <bean id="exchangeCurrency" class="ru.dpolulyakh.www.command.exchange.ExchangeCurrency"/>
    <bean id="botProcessor" class="ru.dpolulyakh.www.process.BotProcessor"/>
    <bean id="wordExpression" class="ru.dpolulyakh.www.process.interpreter.WordCourseExpression"/>
    <bean id="currencyExpression" class="ru.dpolulyakh.www.process.interpreter.CodeOrNameCurrencyExpression"/>
    <bean id="dateExpression" class="ru.dpolulyakh.www.process.interpreter.DateExpression"/>

    <bean id="message" class="ru.dpolulyakh.www.entity.Message"/>

    <bean id="messageBotDAO" class="ru.dpolulyakh.www.dao.message.JdbcMessageBotDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="currencyDAO" class="ru.dpolulyakh.www.dao.cource.JdbcNameCurrencyDAO">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="xmlProcessorContext" class="ru.dpolulyakh.www.context.ProcessorContext"/>
</beans>